* {margin:0; padding:0; border:0}

html, body {
    height: 100%;
    min-width: 375px;
}

.wrapper {
    max-width: 100%;
    min-width: 375px;
    height: 100%;
    background: #FFFFFF;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: top;
    max-width: 100%;
    height: 80px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.content {
    max-width: 1168px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0px 137px 0px 135px;
}

.logo {
    width: 135.04px;
    height: 30.32px;
    margin-right: 60.96px;
}

.input-line {
    max-width: 736px;
    min-width: 344px;
    width: 100%;
    height: 40px;
    border: 1px solid #EBEBF1;
    outline: none;
    border-radius: 5px;
    font-family: Roboto, FontAwesome, sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #BBC4D6;
}

.notifications-and-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separator {
    width: 1px;
    height: 80px;
    margin-left: 60px;
    background-color:#EBEBF1;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 19px;
}

.profile-photo {
    width: 40px;
    height: 40px;
    clip-path: ellipse(20px 20px);
    object-fit: cover; 
}

.name {
    width: 79px;
    height: 18px;
    margin-right: 10px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #768298;
}

.profile-stroke {
    display: none;
}

.partners {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 70px 135px 0px 135px;
}

.our-partners {
    max-width: 1170px;
    height: 58px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    text-transform: uppercase;
    color: #121920;
}

.card {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 270px;
    height: 120px;
    overflow: hidden;
    margin: 0 30px 30px 0px;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    padding: 18px;
}

.card:hover {
    border: 1px solid #EBEBF1;
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
    border-radius: 5px;
    cursor: pointer;
}

.partner-image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.card-partners {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media (min-width: 375px) and (max-width: 767px) {

    .header {
        height: 105px;
    }

    .notifications-and-profile {
        display: none;
    }

    .content {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 105px;
        margin: 0px;
    }

    .input-line {
        max-width: 100%;
        width: 100%;
        height: 42px;
        border: none;
        border-top: 1px solid #BBC4D6;
        border-radius: 0px;
        padding-left: 21px;
    }

    .logo {
        width: calc(100% - 41.88px);
        display: flex;
        justify-content: space-between;
        margin: 17px 21px 0px 21px;
    }

    .profile-stroke {
        display: block;
        width: 24px;
        height: 24px;
        margin-top: 5px;
    }

    .card {
        width: 335px;
        height: 140px;
    }

    .partners {
        margin: 70px 20px 0px 20px;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .separator {
        margin-left: 50px;
    }

    .card {
        width: 229px;
        height: 120px;
        margin: 0 20px 20px 0px;
    }

    .partners {
        margin: 70px 0px 0px 20px;
    }

    .content {
        margin: 0px 20px 0px 20px;
    }
}